body {
    font: 20px Montserrat, sans-serif;
    min-width: 375px;
    margin: 0;
    padding: 0;
    border: 0;
}

.nav-link{
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.banner {
    background-image: url(../images/Banner2.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.banner-title {
    font-size: 100px;
    color: white;    
}

.card {
    margin: 20px;
}

.card-img-top {
    height: 250px;
}

.carousel {
    margin-top: 20px;
}

/* add media query for carousel image height */
.carousel-image {
    height: 600px;
    object-fit: cover;
}

.footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.TDTElement {
    margin-top: 20px;
    margin-bottom: 20px;
}

.entertainmentElement {
    margin-left: 0px;
    margin-right: 0px;
}

.entertainmentImage {
    object-fit: cover;
    height: 350px;
}




