body {
    font: 20px Montserrat, sans-serif;
}

.nav-link{
    padding-right: 30px !important;
    padding-left: 30px !important;
}


.banner-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}