body {
    font: 20px Montserrat, sans-serif;
    min-width: 375px;
    margin: 0;
    padding: 0;
    border: 0;
}

.nav-link{
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.banner {
    background-image: url(../images/Banner2.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*media query for smaller font to 60px at 500px*/
.banner-title {
    font-size: 100px;
    color: white;    
}

/*maybe make cards full page width on smaller screen sizes? remove left and right margins at 840px*/
.tile {
    margin: 20px;
}

/*add into the media query smaller paragraph font to 2em around 1200px*/
.card-title {
    font-size: 50px;
}

.card-img-top {
    height: 300px;
}


/* add media query for carousel image height */
.carousel-image {
    height: 600px;
    object-fit: cover;
}

.contentElement {
    margin-top: 40px;
    margin-bottom: 40px;
}

.entertainmentImage {
    object-fit: cover;
    height: 400px;
}

/*add into the media query smaller paragraph font to 20 around 1200px*/
.contentText {
    font-size: 25px;
}

/*add media query about 500px to reduce rem to about 22?*/
.hikingCard {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

/*add media query about 500px to reduce height to about ?*/
.hikingImage {
    height: 400px;
}

.accommodationsImage {
    object-fit: cover;
    height: 400px;
}

.accordion-container {
    background-image: url(../images/island2.jpg);
    background-size: cover;
    background-position: center;
}

/* reduce font-size at 500px*/
.accordion-title {
    font-size: 35px;
}


.footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.icon {
    margin-left: 20px;
    margin-right: 20px;
}




